html,body{
	margin:0;
	width:100vw;
	height:100vh;
	position:absolute;
	z-index:0;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}

body,div.cover{
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

div.cover{
	position:absolute;
	z-index:1;
	width:100vw;
	height:100vh;
	transition:opacity 1s ease-in-out;
}

div#loading{
	position:absolute;
	z-index:100;
	width:100vw;
	height:100vh;
	background: linear-gradient(45deg,rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(242, 242, 242, 1) 100%);
	transition:opacity 1s ease-in-out;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

div#loading img{
	position:static;
	width:10vw;
	display:block;
	margin:auto;
	animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div#cover1{
	opacity:0;
}

div#cover2{
	opacity:0;
}

main{
	position:relative;
	z-index:2;
	width:100vw;
	height:95vh;
	margin:0 auto 0 auto;
	background:white;
	display:flex;
	flex-direction:column;
	background:transparent;
}

main section#picture-area{
	background:transparent;
	height: 6vh;
	margin-top: auto;
	margin-bottom:auto;
	width: 100%;
}

main section#picture-area div#picture{
	height: 80%;
	aspect-ratio: 1 / 1;
	/*margin: auto;*/
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 100%;
	transition:margin 1s ease-in-out;
	box-shadow: 0px 0px 12px rgba(0,0,0,0.8);
}

main section#page-content{
	flex-grow:1;
	background:white;
	border-radius: 10px 10px 0 0;
	background: linear-gradient(45deg,rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(242, 242, 242, 1) 100%);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction:column;
}

main section#page-content iframe{
	height:95%;
	width:95%;
	margin:auto;
	padding:0;
	border:0;
}

main section#page-content nav{
	width:100%;
	flex-grow:1;
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}

main section#page-content nav select{
	width:80%;
}

main section#page-content nav *{
	height: 80%;
	margin-top:auto;
	margin-bottom:auto;
	font-size: 0.5rem;
	overflow:hidden;
	text-align:center;
	background:transparent;
}

main section#page-content nav option{
	font-size: 1rem;
}

main section#page-content nav button{
	width: 2rem;
	border-radius: 5px;
}

main section#page-content nav select{
	border-radius: 10px;
}

@media (min-width:1024px){
	body{
		justify-content:center;
	}

	main{
		width: 100%;
		height: 100%;
		flex-direction:row;
	}

	main section#page-content{
		height: 100%;
		width:100%;
		border-radius: 0;
	}	

	body,div.cover{
		background-size:auto 100%;
	}

	main section#picture-area{
		background:transparent;
		height:100%;
		flex-grow:1;
	}

	main section#picture-area div#picture{
		float:right;
		height: 10vh;
		margin-right: 20px;
	}

	main section#page-content{
		width:100%;
	}

	main section#page-content nav *{
		font-size: 0.8em;
	}
}
