html,body{
	margin:0;
	width:100vw;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	background:linear-gradient(45deg,#958BBA 30%, #AEA6CA 50%,#958BBA 70%);
}

main{
	width:95vw;
	height:95vh;
	margin:0 auto 0 auto;
	background:white;
	display:flex;
	flex-direction:column;
	background:transparent;
}

main section#picture-area{
	background:transparent;
	height: 15vh;
	width: 100%;
}

main section#picture-area div#picture{
	height: 80%;
	aspect-ratio: 1 / 1;
	margin-top: auto;
	margin-bottom: auto;
	/*margin: auto;*/
	background: url("../pictures/file.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 100%;
	border:5px solid white;
}

main section#page-content{
	flex-grow:1;
	background:white;
	border-radius: 0 20px 0 20px;
}

@media (min-width:2048px){
	main{
		flex-direction:row;
	}	

	main section#picture-area{
		background:transparent;
		flex-grow:1;
	}

	main section#picture-area div#picture{
		float:right;
		margin-right: 10px;
	}

	main section#page-content{
		width:100%;
	}
}
